.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 23px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
