.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--tag);
  border-radius: 100px;
  padding: 12px 18px;
  fill: var(--main);
}

.label {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
