.header {
  background: var(--inputs);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.content {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 16px;
  align-items: center;
  padding: 24px 0;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--main);
  font-weight: 500;
  transition: all .3s ease-in-out;
  &:hover {
    color: var(--button-hover);
  }
}

.active {
  color: var(--button-hover);
}
