.form {
  display: flex;
  flex-direction: column;
  padding: 43px 56px;
  border-radius: 10px;
  border: 1px solid var(--gray-light);
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: var(--gray);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.field {
  position: relative;
}

.textarea,
.input {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  background: var(--inputs);
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  color: var(--main);
  font-family: var(--font), sans-serif;
  outline: none;
}

.textarea {
  height: 118px;
  resize: none;
}

.error {
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  font-size: 16px;
  line-height: 16px;
  border-radius: 7px;
  padding: 4px 18px;
  background: var(--inputs);
  color: var(--button)
}

.button {
  margin: 0 auto;
}
