:root {
  --font: Inter, sans-serif;
  --white: #FFFFFF;
  --badges: #F2F4F7;
  --inputs: #F7F7F7;
  --tag: #F2F4F7;
  --gray-light: #DADDE1;
  --gray: #6C717B;
  --text: #475467;
  --main: #101828;
  --button: #E44848;
  --button-hover: #D84343;
  --rating: #FFC531;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  font-family: var(--font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  margin-top: 72px;
}

.container {
  width: 1344px;
  padding: 0 16px;
  margin: 0 auto;
}

.button {
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  padding: 15px 48.5px;
  min-width: 166px;
  background: var(--button);
  color: var(--white);
  border-radius: 200px;
  font-family: var(--font), sans-serif;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -0.004em;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover, &:focus {
    background: var(--button-hover);
  }
  &.button--secondary {
    border: 1px solid var(--gray-light);
    color: var(--main);
    background: var(--white);
    padding: 15px 32px;
    min-width: 145px;
    &:hover, &:focus {
      border-color: var(--button-hover);
    }
  }
}
